
body{
    position: relative;
    background: url("../img/space.gif");
    background-size: contain;
    height: 95vh;
}

#background{
    position: absolute;
    width: 900px;
    height: 600px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: 2px solid rgba(25, 184, 165, 0.85);
    overflow: hidden;
}

#jet{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("../img/jet1.png");
    background-size: contain;
    background-repeat: no-repeat ;
    left: 50%;
    bottom: 0;
}

#bullet{
    position: absolute;
    width: 20px;
    height: 30px;
    background: url("../img/bullet1.png");
    background-size: contain;
    background-repeat: no-repeat ;
    left: 50%;
    bottom: 50px;
}


#alien{
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    background: url("../img/alien1.png");
    background-size: contain;
    background-repeat: no-repeat ;
    margin: auto;
}

#scoreBord{
    position: absolute;
    top: 15px;
    width: 200px;
    height: 100px;
    border: 1px solid #3e3ed9;
    border-radius: 10px;
    background: radial-gradient( #2c2c9c, #02065a) ;
    margin: 0;
}

p{
    color: white;
    font-size: 2em;
    display: inline;
    padding-left: 10px;
    padding-top: 10px;
}

.btn{
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 30px;
    margin: 0;
}
#btnShoot{
    left: 20px;
}#btnLeft{
    right: 100px;
}#btnRight{
    right: 16px;
}

@media all and (min-width: 768px) {
    .btn{
        display: none;
    }
}
@media all and (max-width: 320px) {
    .btn{
        display: block;
    }
    #background{
        width: 302px;
        height: 530px;
    }
    #scoreBord{
        height: 15px;
        width: 285px;
    }
    p{
        font-size: 1em;
    }
    #brTag{
        display: none;
    }
    #lblLevel{
        padding-left: 80px;
    }
}
